<header class="header" [ngClass]="{'header--scrolled': isScrolled}">
  <div class="header__container">
    <div class="header__content">
      <div class="header__logo-container">
        <a routerLink="/" class="header__logo-link">
          <img src="assets/logoBranco.png" alt="Chamados Para Curar" class="header__logo">
        </a>

        <nav class="header__nav header__nav--desktop">
          <ul class="header__nav-list">
            <li class="header__nav-item"><a routerLink="/" class="header__nav-link">Home</a></li>
            <li class="header__nav-item"><a routerLink="/sobre" class="header__nav-link">Sobre</a></li>
            <li class="header__nav-item">
              <a href="https://hotmart.com/pt-br/marketplace/produtos/chamados-para-curar-feridas-fechadas-propositos-abertos/J99779886D"
                target="_blank" class="header__nav-link">Curso</a>
            </li>
            <li class="header__nav-item"><a routerLink="/seminario" class="header__nav-link">Seminário</a></li>
          </ul>
        </nav>
      </div>

      <div class="header__auth">
        <a routerLink="/login" class="header__login-btn">Login</a>
      </div>
    </div>

    <!-- Menu móvel -->
    <div class="header__mobile-nav">
      <ul class="header__mobile-nav-list">
        <li class="header__mobile-nav-item"><a routerLink="/" class="header__mobile-nav-link">Home</a></li>
        <li class="header__mobile-nav-item"><a routerLink="/sobre" class="header__mobile-nav-link">Sobre</a></li>
        <li class="header__mobile-nav-item">
          <a href="https://hotmart.com/pt-br/marketplace/produtos/chamados-para-curar-feridas-fechadas-propositos-abertos/J99779886D"
            target="_blank" class="header__mobile-nav-link">Curso</a>
        </li>
        <li class="header__mobile-nav-item"><a routerLink="/seminario" class="header__mobile-nav-link">Seminário</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="header__spacer"></div>
