.title {
  position: relative;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 40px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: var(--color-primary-700);
  }
}

section {
  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.bg-gray-50 {
  background-color: #f9fafb;
}

a.bg-primary-800 {
  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }
}